/* Styling the Contact Us page */

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 15px;
}

body{
    background-image: url(/img/img/img1.jpg);
    color: aliceblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.logo{
    text-align: center;
    color: rgb(165, 165, 9);
}

.fa-solid, .fa-envelope, .fa-whatsapp{
    color: rgb(233, 106, 3);
    padding: 5px 2px 0 5px;
}

.header{
    margin-top: 10px;
    background-image: linear-gradient(rgba(255, 0, 0, 0.63), rgb(9, 93, 119));
    text-align: center;
}

ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}

li{
    margin: 20px;
    list-style-type: none;
}

.header, ul{
    display: flex;
    justify-content: center;
}

li a:hover{
    color: rgb(184, 140, 18);
}

.table{
    text-align: center;
    font-size: 20px;
    color: rgb(75, 33, 3);
    margin-top: 30px;
    margin-left: 25%;
}

.table_header{
    font-size: 20px;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 15px;
}

tr{
    font-size: 25px;
    font-weight: 500;
}

.table, tr, td{
    border: 1px solid black;
    font-weight: 300;
    font-size: 16px;
}